body{
    margin: 0;
    padding: 0;
    background: url('../img/img3.jpg') no-repeat center center fixed; 
    background-size: cover;
    z-index: 1;
    transform-style: preserve-3d;
    color: white;
}

.container{
    width: 100%;
    position: relative;
    z-index: 0;
}  


.formLogin{
    position: absolute;

    width: 400px;
    height: 500px;
    border: 2px solid rgb(81, 235, 81);
    border-radius: 50% 20px 20px 50%;
    left: 30%;
    top: 20%;
    z-index: 3;

}

.formDesign{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formLogin h1{
    font-size: 50px;
    color: white;
    text-align: center;
} 

.formDesign div{
    margin-top: 50px;
    margin-bottom: 30px;
} 

 .formLogin input{
    font-size: 20px;
    padding: 10px;
    background-color:rgba(0, 0, 0, 0);
    border-radius: 30px;
    outline: none;
    border: 2px solid rgb(81, 235, 81);
    color: white;
    text-align: center;
}

.formDesign div i{
    margin-right: -40px;
}


.formLogin button{
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgb(81, 235, 81);
    border-radius: 20px;
    font-size: 20px;
    color: white;
    width: 90%;
    padding: 7px;   
    font-weight: bold;
    text-align: center;
}

.formLogin button:hover{
    cursor: pointer;
} 

.container .overlay{
    display: absolute;
    z-index: 2;
    width: 100%;
    height: 754px;
    background-color: rgba(0, 0, 0, 0.5);
}