/* 
programmer : Mohanad Dahi
First color:#08526d
Second color:#ec1c23
*/


/* start upper bar */

.upper-bar{
    background-color: #08526d;
    color:#FFF ;
    padding: 10px;
}


/* end upper bar */