/* 
programmer : Mohanad Dahi
First color:#08526d
Second color:#ec1c23
*/

body{
    perspective: 600px;
    height: 3000px;
}

/* start upper bar */

.upper-bar{
    background-color: #08526d;
    color:#FFF ;
    padding: 10px;
}
.upper-bar div span{
    color: #bfc6c9;
}
/* end upper bar */

/* ****************************** */

/* start nav bar */

.Elite{
    color:#08526d ;
    font-weight: bold;  
    font-size: 30px;
}
.Corp{
    font-size: 30px;
    color:#ec1c23 ;
}

.upper-bar .get-quete{
    border: 1px solid red;
    margin-left: 20px;
    padding: 4px;

}

.navbar-light .navbar-nav .nav-link:hover{

    color:#ec1c23!important ;

}

.navbar-light .navbar-nav .nav-link{
    padding: 20px;
    margin-left: 20px;
    color: #08526d ;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .active > .nav-link{
    color:#ec1c23 ;
}

/* end nav bar */

/* ****************************** */

/* start slider */

.slider{
    transform-style: preserve-3d;
}

.slider .carousel-inner{
    display: flex;
    align-items: center;
    
}

.slider .carousel-item{
    background-size: cover;
}

.slider .carousel-inner h1{    
    position: absolute;
    left: 205px;
    z-index: 3;
    color: white; 
}

.slider .carousel-inner .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgb(66, 61, 61,0.8);
    z-index: 2;
}

.slider h1 span{
    margin-top: 10px;  
    background-color: rgba(192, 12, 12 );
}
.slider .carousel-indicators li{  
    cursor: pointer;
    height: 5px;
}

/* end slider */
/* ****************************** */

/* start featues */

.features{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
}
.features .container .row .col-sm-6{
    margin-bottom: 30px;
}
.features i{
    background-color:#ec1c23 ;

    line-height: 80px;
    color: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.features h3{
    color: #08526d ;;
}

.features p{
    color: #AAA;
}
/* end features */

/* start company view */
.companyView{
    background-color: #EEE;
    width: 100%;
    height: 450px;
    text-align: center;
    padding-top: 20px;
}

.companyView .content{
    width: 700px;
    margin: auto;
    height: 100%;
}

.companyView .content h1{
    margin-top: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 50px;
    text-transform: uppercase;
}

.companyView .content span{
    word-spacing: 7px;
    margin-bottom: 30px;
    color: #AAA
}
.companyView .content a{
    background-color:#ec1c23 ;
    color:white;
    margin-top: 20px;
    width: 150px;
    height: 30px;
    display: inline-block;
}
/* end company view */

/* start featured work */

.featuredwork{
    width: 100%;
    margin: auto;
}

.featuredwork h1{
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.featuredwork p{
    line-height: 1.6;
    margin-bottom: 40px;
    text-align: center;
}

.featuredwork ul li{

    border: 2px solid #08526d ;
    color: #08526d ;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 11px;
    font-weight: bold;
}

.featuredwork ul li.active,
.featuredwork ul li:hover{
    color: white;
    background-color: #ec1c23;
    border: 2px solid #ec1c23;
}

.featuredwork ul li:hover{
    cursor: pointer;
}
.featuredwork .shuffel{
    margin-top: 50px;
}
.featuredwork .row img{
    width: 100%;
}
.featuredwork .row .col-sm,.col-md,.col-lg{
    padding: 0;
    margin: 0;
}
/* end featured work */
